[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"
pytest = "*"
pytest-cov = "*"
requests = "*"
psycopg2-binary = "*"
flask-migrate = "*"

[dev-packages]
pytest = "*"
pytest-cov = "*"
requests = "*"
pytest-mock = "*"
